// 全局滚动条样式设置
*::-webkit-scrollbar {
  width: 6px; // 纵向滚动条宽度
  height: 8px; // 横向滚动条高度
}

// 滚动条滑块样式
*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.08); // 滑块颜色（半透明白色）
  border-radius: 10px; // 滑块圆角
  visibility: hidden; // 默认隐藏，只有 hover 容器时才显示
}

// 鼠标悬停在容器上时，显示该容器内的滚动条
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
